$min-height-info-box: 80px;
.contact-us-card{
    background-color: var(--background-color-primary);
}

.info-cards {
    // background-color: var(--highlight-color);
    color: var(--text-color-primary);
    // min-height: $min-height-info-box;
}

.text {
    color: var(--text-color-primary);
}

.heading {
    color: var(--text-color-secondary);
}

.info-group-card{
    // @media only screen and (min-width: 768px)  {
    //     border-right: 1px solid whitesmoke; 
    // }
  
    // margin: 32px 0;
}

.vr-height{
    min-height: $min-height-info-box *3;
    color:aliceblue;

}

.responsive-iframe {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none;
  }