<div class="m-md-5 rounded contact-us-card p-4">
  <h2 class="heading">Contact Us</h2>
  <div class="row text-center">
    <div class="p-4 col-sm-12 col-md-4 rounded info-cards">
      <i class="bi bi-phone-vibrate display-1"></i> <br />
      +91 9752043447 <br />
      +91 7566305196
    </div>
    <div class="p-4 col-sm-12 col-md-4 rounded info-cards">
      <i class="bi bi-geo-alt-fill display-1"></i> <br />
      Impulse Classes Choudhran colony near new gate of Christ school
    </div>
    <div class="p-4 col-sm-12 col-md-4 rounded info-cards">
      <i class="bi bi-envelope-at display-1"></i> <br />
      impulse.guna@gmail.com
    </div>
  </div>
</div>

<!-- <div class="m-md-5 mt-5 rounded contact-us-card p-4">
  <h2 class="heading">Have a query? Send us a message.</h2>
  <span class="mb-1"
    >Provide below your contact information and your query. We will get back to
    you as soon as possible.
  </span>
  <form>
    <div class="row">
      <div class="form-group col-md-6">
        <label for="exampleInputEmail1">Email address</label>
        <input
          type="email"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          placeholder="Enter email"
          required
        />
        <small id="emailHelp" class="form-text text-muted"
          >We'll never share your email with anyone else.</small
        >
      </div>
      <div class="form-group col-md-6">
        <label for="exampleInputEmail1">Mobile number</label>
        <input
          type="number"
          class="form-control"
          id="exampleInputMobile"
          placeholder="Enter Mobile number"
          required
        />
      </div>
    </div>
    <div class="form-group col-md-6">
      <label for="exampleInputPassword1">Enter your query here.</label>
      <textarea
        class="form-control"
        id="exampleInputPassword1"
        placeholder="Query"
      ></textarea>
    </div>

    <button
      type="submit"
      class="btn btn-primary mt-2"
      style="background-color: var(--highlight-color)"
    >
      Submit
    </button>
  </form>
</div> -->

<div class="m-md-5 my-5 rounded contact-us-card p-4 embed-responsive">
  <h2 class="heading">Reach Us</h2>
  <iframe
  class="embed-responsive responsive-iframe"
  src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d405.3852934240052!2d77.30530695907115!3d24.64968488499676!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1682074605464!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

  <div class="text-center">
    <p>Impulse Classes Choudhran colony near new gate of Christ school</p>
    <a 
    target="_blank"
    href="https://www.google.com/maps/place/24%C2%B038'58.9%22N+77%C2%B018'18.6%22E/@24.6497072,77.3045348,19z/data=!3m1!4b1!4m4!3m3!8m2!3d24.649706!4d77.3051785">Click here to open Google-Map</a>
  </div>
</div>

<div class="hidden my-3" id="queryForm"></div>
<!-- <div class="m-md-5 mt-5 rounded contact-us-card p-4 embed-responsive" style="height:1024px"> -->
  <iframe
   
    src="https://docs.google.com/forms/d/e/1FAIpQLSfII9bvYMpBKNhQzVlU3i-EUR_uMXgP0B5VQokhz834aZoc-A/viewform?embedded=true"
    frameborder="0"
    marginheight="0"
    marginwidth="0"
    height="1024"
    style="width:100%"
    class="embed-responsive"
    >Loading…</iframe
  >
<!-- </div> -->


