.gallery-container {
  color: var(--highlight-color);
  min-height: 252px;
}

.gallery-flex {
  display: flex !important; 
  justify-items: center;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.img-h {
  height: 512px;
}

.heading {
  color: var(--text-color-secondary);
}
