<ngb-carousel
  #carousel
  [interval]="4500"
  [pauseOnHover]="true"
  [pauseOnFocus]="true"
  [wrap]="true"
>
  <ng-template ngbSlide>
    
    <div class="picsum-img-wrapper d-md-none d-lg-none d-xl-none d-xxl-none">
      <img 
      class="w-100"
      src="./../../../assets/slider-3-mobile.jpg" alt="My image  description 2" />
    
    </div>
    <div class="picsum-img-wrapper d-none d-md-block">
      <img 
      class="w-100"
      src="./../../../assets/slider-3.jpg" alt="My image  description 2" />
    
    </div>
   
    <div class="carousel-caption mb-5">
        <h3>ASK, LEARN & LEAD IT</h3>
        <p>
          With Better Score, Better Career & Ultimately by Building Better India
          with the Power of Knowledge.
        </p>
      </div>
  
  </ng-template>
  <ng-template ngbSlide>
    <div class="carousel-caption mb-5">
      <h3>LEARN AND EXCEL</h3>
      <p>
       Impulse coaching provides correct guidance, councelling and accurate study material. You can definately acheive better results.
      </p>
    </div>
   
    <div class="picsum-img-wrapper d-md-none d-lg-none d-xl-none d-xxl-none">
      <img 
      class="w-100"
      src="./../../../assets/slider-1-mobile.jpg" alt="My image  description 2" />
    
    </div>
    <div class="picsum-img-wrapper d-none d-md-block">
      <img 
      class="w-100"
      src="./../../../assets/slider-1.jpg" alt="My image  description 2" />
    
    </div>
  </ng-template>
</ngb-carousel>
<section>
  <app-batches-home></app-batches-home>
</section>
<section>
    <app-gallery></app-gallery>
</section>

