<div class="m-3">
  <div class="mb-2">
    <h3 class="heading">Files - {{ title }}</h3>
    <small class="text-info">Click on image to see preview.</small>
  </div>
  <div class="row">
    <ng-container *ngIf="fetchStatus === 'error'">
      <h3 class="heading text-warn">
        Whoops! We ran in some error! Try again later.
      </h3>
    </ng-container>
    <ng-container *ngIf="fetchStatus === 'fetching'">
      <div class="my-5 text-center">
        <div class="spinner-grow m-1 text-primary" role="status">
          <span class="sr-only"></span>
        </div>
        <div class="spinner-grow m-1 text-primary" role="status">
          <span class="sr-only"></span>
        </div>
        <div class="spinner-grow m-1 text-primary" role="status">
          <span class="sr-only"></span>
        </div>
        <div class="spinner-grow m-1 text-primary" role="status">
          <span class="sr-only"></span>
        </div>
        <div class="spinner-grow m-1 text-primary" role="status">
          <span class="sr-only"></span>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="fetchStatus === 'done'">
      <div class="text-center my-5 row" *ngIf="!files.length">
        <h4 class="heading">
          Its so empty here. Lets wait for some amazing study material.
        </h4>
      </div>
      <ng-container *ngIf="files.length">
        <div class="row" style="align-items: center">
            <div *ngFor="let f of files" class="col-12 col-md-4 col-lg-3">
              <div
                style="
                  background-color: #f9f1f0;
                  justify-content: center;
                  cursor: pointer;
                "
                class="card h-100 shadow rounded my-1 p-1"
              >
                <a
                  [href]="f.url"
                  data-lightbox="f.name"
                  data-title="{{ f.name }}"
                 
                  style="overflow: hidden; height: 160px"
                >
                 
                  <img
                 
                    width="100%"
                    class="ui bordered small image"
                    [src]="f.url"
                  />
                </a>
                <div style="color: var(--text-color-secondary)" class="card-body">
                  <h5 class="card-title one-line-text">
                    {{ f.name || "File name not available" }}
                  </h5>
                  <!-- <span class="card-text">File Type:</span> -->
                  <!-- <div>
                    <b>Mime Type </b>
  
                    {{
                      f.mimeType ||
                        "mime type not available, preview may not work."
                    }}
                  </div>
                  <div>
                    <b>File Type </b>
                    {{
                      f.fileType ||
                        "mime type not available, preview may not work."
                    }}
                  </div> -->
                  <div>
                    <b>Created on: </b>
                    {{
                      (f.createdOn | date) ||
                        "NA."
                    }}
                  </div>
                </div>
               
                  <!-- <button
                  class="text-warn btn btn-danger"
                  (click)="$event.preventDefault(); deleteFile(f)"
                  style="position: absolute; right: 8px; bottom: 16px"
                >
                  <i class="bi bi-trash3 text-warn"></i> 
                </button> -->
               
              </div>
            </div>
          </div>
        <!-- <img [src]="f.url" data-lightbox="image-1" *ngFor="let f of files" /> -->
      </ng-container>
    </ng-container>
  </div>
</div>
