<div class="m-3">
  <div class="file-row mb-2">
    <h3 class="heading">Files - {{ title }}</h3>
  </div>
  <div class="row">
    <ng-container *ngIf="fetchStatus === 'error'">
      <h3 class="heading text-warn">
        Whoops! We ran in some error! Try again later.
      </h3>
    </ng-container>
    <ng-container *ngIf="fetchStatus === 'fetching'">
      <div class="my-5 text-center">
        <div class="spinner-grow m-1 text-primary" role="status">
          <span class="sr-only"></span>
        </div>
        <div class="spinner-grow m-1 text-primary" role="status">
          <span class="sr-only"></span>
        </div>
        <div class="spinner-grow m-1 text-primary" role="status">
          <span class="sr-only"></span>
        </div>
        <div class="spinner-grow m-1 text-primary" role="status">
          <span class="sr-only"></span>
        </div>
        <div class="spinner-grow m-1 text-primary" role="status">
          <span class="sr-only"></span>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="fetchStatus === 'done'">
      <div class="text-center my-5 row" *ngIf="!files.length">
        <h4 class="heading">
          Its so empty here. Lets wait for some amazing study material.
        </h4>
      </div>
      <ng-container *ngIf="files.length">
        <div
          *ngFor="let d of files"
          class="col-sm-1 col-md-4 col-lg-4 p-2"
          [title]="
            'Created on ' + (d?.createdOn ? (d?.createdOn | date) : 'NA')
          "
        >
          <div class="shadow card rounded" style="background-color: #f9f1f0">
            <div class="file-cards card-body">
              <div style="margin: 0px 12px 8px 0px">
                <container_element [ngSwitch]="d.fileType">
                  <i
                    *ngSwitchCase="'pdf'"
                    class="display-1 bi bi-filetype-pdf"
                  ></i>
                  <i
                    *ngSwitchDefault
                    class="display-1 bi bi-file-earmark-text"
                  ></i>
                </container_element>
              </div>
              <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
              <div>
                <h5 class="card-title">
                  {{ d.name || "File name not available" }}
                </h5>
                <!-- <span class="card-text">File Type:</span> -->
                <div>
                  <b>Mime Type </b>

                  {{
                    d.mimeType ||
                      "mime type not available, preview may not work."
                  }}
                </div>
                <div>
                  <b>File Type </b>
                  {{
                    d.fileType ||
                      "mime type not available, preview may not work."
                  }}
                </div>
              </div>
            </div>

            <div class="file-action-btns m-2">
              <button
                [disabled]="!d.previewAvailable"
                class="btn btn-primary"
                (click)="previewFile(d)"
              >
                <i class="bi bi-collection-play"></i>&nbsp;Preview
              </button>
              <button
                class="mx-2 btn btn-success"
                [disabled]="!d.downloadAvailable"
                (click)="downloadFile(d)"
              >
                <i class="bi bi-download"></i>&nbsp;Download
              </button>
            </div>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </div>
</div>
