.about-contaienr{
    min-height: 100vh;
    background-color: #252423;
    padding: 24px;
}

app-about-us{
    
}

.demo-content {
    // position: relative;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // text-align: center;
    width: 100%;
    margin: 12px;
    // height: 100vh;
    // align-items: center;
}