<div class="container my-auto login-middle" style="height: 80vh">
  <div class="login-card rounded shadow-xs p-2">
    <h2 class="heading">Admin login</h2>
    <small class="form-text text-muted"
      >If you are not an admin. Kindly navigate to
      <a class="heading" routerLink="">home page.</a></small
    >
    <form>
      <div class="row">
        <div class="form-group col-md-6">
          <label for="exampleInputEmail1">Email address</label>
          <input
            #email
            name="email"
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            placeholder="Enter your email"
            required
          />
        </div>
        <div class="form-group col-md-6">
          <label for="password">Password</label>
          <input
            #password  
            name="passoword"
            type="password"
            class="form-control"
            id="password"
            placeholder="Enter your password"
            required
          />
        </div>
      </div>
      <button
        type="button"
        class="btn btn-primary mt-2"
        style="background-color: var(--highlight-color)"
        (click)="logIn(email.value, password.value)"
      >
        Log in
      </button>
    </form>
  </div>
</div>
