<div class="m-3">
  <div class="directory-row mb-2">
    <div>
      <h3 class="heading">Manage Downloads</h3>
     
    </div>
    <button
      [disabled]="directoryFetchStatus !== 'done'"
      class="btn btn-primary"
      (click)="openFormModal(newFolderDialog)"
    >
      <i class="bi bi-folder-plus"></i>
      New Folder
    </button>
  </div>
  <small class="text-info"
  >You can have one parent folder and multiple files inside it. Nested
  folders are not supported.</small
>
  <div class="row mt-2">
    <ng-container *ngIf="directoryFetchStatus === 'done'">
      <ng-container *ngIf="!directories.length">
        <h3 class="heading text-info text-center my-5">
          It feels so empty here. Lets get started by creating a new directory!
        </h3>
      </ng-container>
      <div
        [routerLink]="
          '/admin/downloads/' + d.directoryName + '/' + d.directoryId
        "
        *ngFor="let d of directories"
        class="text-info col-6 col-md-4 col-lg-3"
        data-bs-toggle="tooltip"
        data-bs-placement="top"
        [title]="'created on ' + (d.directoryId | date)"
      >
        <div
          class="text-end text-danger"
          (click)="deleteFolder(d.directoryId)"
          title="Delete this folder"
          style="cursor: pointer"
        >
          <i class="bi bi-trash3 pr-3"></i>
        </div>
        <div class="text-center directory-cards">
          <i class="display-1 bi bi-folder"></i>
          <h5 class="dir-heading">{{ d.directoryName || "Directory Name" }}</h5>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="directoryFetchStatus === 'error'">
      <h3 class="heading text-warn">
        Whoops! We ran in some error! Try again later.
      </h3>
    </ng-container>

    <ng-container *ngIf="directoryFetchStatus === 'fetching'">
      <div class="my-5 text-center">
        <div class="spinner-grow m-1 text-primary" role="status">
          <span class="sr-only"></span>
        </div>
        <div class="spinner-grow m-1 text-primary" role="status">
          <span class="sr-only"></span>
        </div>
        <div class="spinner-grow m-1 text-primary" role="status">
          <span class="sr-only"></span>
        </div>
        <div class="spinner-grow m-1 text-primary" role="status">
          <span class="sr-only"></span>
        </div>
        <div class="spinner-grow m-1 text-primary" role="status">
          <span class="sr-only"></span>
        </div>
      </div>
    </ng-container>
  </div>
</div>

<ng-template #newFolderDialog let-newFolderDialog>
  <div class="modal-header">
    <h4 class="modal-title">New Folder</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="newFolderDialog.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <input
      class="form-control"
      type="text"
      required
      [(ngModel)]="folderName"
      placeholder="Enter folder name. Ex: Study Material"
    />
    <!-- app.component.html -->
  </div>
  <div class="modal-footer">
    <button
      [disabled]="!folderName.length || directoryFetchStatus !== 'done'"
      type="submit"
      class="btn btn-primary"
      (click)="addDirectory()"
    >
      Add
    </button>

    <button
      type="button"
      class="btn btn-light"
      (click)="newFolderDialog.close('Close click')"
    >
      Close
    </button>
  </div>
</ng-template>
