/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

:root {
    --text-color-primary: #ffffff;
    --text-color-secondary: #1b4d89;
    --highlight-color: #6db784;
    --background-color-primary: #30D5C8;
    --background-color-secondary: #f9e45b;
  }